@{
    ViewData["Title"] = "Home Page";
}

<!-- Slick Section Start -->
<section class="slider-wrapper p-0">
    <div id="slider-style-one" class="carousel slide bs-slider control-round indicators-line" data-ride="carousel"
         data-pause="hover" data-interval="5000">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-style-one" data-slide-to="0" class="active"></li>
            <li data-target="#slider-style-one" data-slide-to="1"></li>
            <li data-target="#slider-style-one" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">

            <!-- Third Slide -->
            <div class="carousel-item active">

                <!-- Slide Background -->
                <img src="images/slider/1.jpg" alt="Slider Images" class="slide-image" />

                <div class="bs-slider-overlay"></div>

                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="slide-text home-3 slide-style-center">
                            <div class="sub-title">
                                <h4>Qasr El Bagawat Hotel</h4>
                            </div>
                            <div class="title-box">
                                <h2>
                                    It is not just <span>Accommodation,</span> It fits your Desires
                                </h2>
                            </div>
                            <div class="btn-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Third Slide -->
            <div class="carousel-item">

                <!-- Slide Background -->
                <img src="images/slider/2.jpg" alt="Slider Images" class="slide-image" />

                <div class="bs-slider-overlay"></div>

                <div class="container">

                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="slide-text home-3 slide-style-center">
                            <div class="sub-title">
                                <h4>Qasr El Bagawat Hotel</h4>
                            </div>
                            <div class="title-box">
                                <h2>
                                    It is not just <span>Accommodation,</span> It fits your Desires
                                </h2>
                            </div>
                            <div class="btn-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->
            <!-- Third Slide -->
            <div class="carousel-item">

                <!-- Slide Background -->
                <img src="images/slider/3.jpg" alt="Slider Images" class="slide-image" />

                <div class="bs-slider-overlay"></div>

                <div class="container">

                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="slide-text home-3 slide-style-center">
                            <div class="sub-title">
                                <h4>Qasr El Bagawat Hotel</h4>
                            </div>
                            <div class="title-box">
                                <h2>
                                    It is not just <span>Accommodation,</span> It fits your Desires
                                </h2>
                            </div>
                            <div class="btn-box">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->

        </div>
        <!-- End of Wrapper For Slides -->
        <!-- Left Control -->
        <a class="left carousel-control" href="#slider-style-one" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!-- Right Control -->
        <a class="right carousel-control" href="#slider-style-one" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>
    <!-- End  slider-style-one Slider -->
</section>
<!-- Header Section End -->
<!-- Slick Section Start -->
<!-- Slick Section End -->
<!-- Welcome Section Start -->
<!-- Welcome Section End -->
<section class="global-section  pt-80 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-12">
                <div class="global-area">
                    <div class="inner-title">
                        <h2>Qasr El Bagawat Hotel</h2>
                        <h3> It is not just <span>Accommodation,</span> It fits your Desires </h3>



                        <div class="sec-line"></div>
                    </div>
                    <p>It is not just Accommodation, It fits your Desires It is not just Accommodation, It fits your Desires It is not just Accommodation, It fits your Desires It is not just Accommodation, It fits your Desires It is not just Accommodation, It fits your Desires It is not just Accommodation, It fits your Desires It is not just Accommodation, It fits your Desires </p>


                </div>
            </div>
            <div class="col-xl-5 col-lg-8 col-md-10">
                <div class="map-area">
                    <img src="images/photos/map01.png" alt="image">
                </div>

            </div>
        </div>
    </div>
</section>











<section class="latest-hotel-sec pt-85 pb-80">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h4>Qasr El Bagawat Hotel Tours in Egypt</h4>
                <h2> <span>Offers & </span>Tours in Egypt</h2>





            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="latesthotel_carousel owl-carousel owl-theme owl-navst">
                    <div class="item">
                        <div class="latest-hotel">
                            <div class="thumb">
                                <img src="images/photos/hotel-1.jpg" alt="">
                            </div>
                            <div class="content">
                                <h4>Tours in Egypt</h4>


                                <p>consectetur adipoing elit. Vestibulum pharetra in. Integer lacinia lectus...</p>
                                <a class="map-viw" href="#"><i class="fa fa-map-marker"></i>the place</a>


                                <a class="btn-theme" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-hotel">
                            <div class="thumb">
                                <img src="images/photos/hotel-2.jpg" alt="">
                            </div>
                            <div class="content">
                                <h4>Tours in Egypt</h4>


                                <p>consectetur adipoing elit. Vestibulum pharetra in. Integer lacinia lectus...</p>
                                <a class="map-viw" href="#"><i class="fa fa-map-marker"></i>the place</a>


                                <a class="btn-theme" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-hotel">
                            <div class="thumb">
                                <img src="images/photos/hotel-3.jpg" alt="">
                            </div>
                            <div class="content">
                                <h4>Tours in Egypt</h4>


                                <p>consectetur adipoing elit. Vestibulum pharetra in. Integer lacinia lectus...</p>
                                <a class="map-viw" href="#"><i class="fa fa-map-marker"></i>the place</a>


                                <a class="btn-theme" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-section pt-85 pb-0 " style="background: #e0e0e0">
    <div class="container-fluid">
        <div class="row">
            <div class="section-title">
                <h4>Qasr El Bagawat Hotel Gallery</h4>
                <h2> <span>Our</span> Gallery</h2>

            </div>
        </div>
        <div class="row gallery-items">
            <div class="col-sm-3 col-grid">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/1.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/1.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-grid col-center">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/2.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/2.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-grid">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/3.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/3.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-grid">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/4.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/4.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-grid col-center">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/5.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/5.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-grid">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/6.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/6.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





            <div class="col-sm-3 col-grid">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/1.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/1.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-3 col-grid">
                <div class="gallery-item">
                    <div class="thumb">
                        <img src="images/gallery/2.jpg" alt="image">
                        <div class="overlay">
                            <div class="inner">
                                <a href="images/gallery/2.jpg" class="icon lightbox-image">
                                    <i class="fa fa-plus"></i>
                                </a>

                                <p>Gallery</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>


<!-- Client Section End -->
<!-- Footer Style Seven Start -->
<footer class="bg-faded pt-70 pb-40 bg-theme-color-2">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-item footer-widget-one">


                        <hr>
                        <h6>Follow<span> Us</span></h6>
                        <ul class="social-icon bg-transparent bordered-theme">
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>


















                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-item">
                        <div class="footer-title">
                            <h4>Our <span>NAV</span></h4>
                            <div class="border-style-3"></div>
                        </div>
                        <ul class="footer-list">
                            <li><a href="#">  Home</a></li>
                            <li><a href="#">   Hotel Facilities</a></li>
                            <li><a href="#">Offers & Tours in Egypt  </a></li>

                        </ul>

                    </div>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-item">
                        <div class="footer-title">
                            <h4>&nbsp; <span>&nbsp;</span></h4>
                            <div class="border-style-3"></div>
                        </div>
                        <ul class="footer-list">
                            <li><a href="#">  Rates & Booking Online</a></li>

                            <li><a href="#">Gallery  </a></li>

                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-item">
                        <div class="footer-title">
                            <h4>&nbsp; <span>&nbsp;</span></h4>
                            <div class="border-style-3"></div>
                        </div>
                        <ul class="footer-list">




                            <li><a href="#">   video</a></li>
                            <li><a href="#">   Contact</a></li>



                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="footer-copy-right bg-theme-color-2 text-white p-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p>© 2020, All Rights Reserved <a href="#"> Qasr El Bagawat Hotel</a></p>
            </div>
        </div>
    </div>
</section>
<!-- Footer Style Seven End -->

<!-- End Page Wrapper  -->

<a href="#" class="scrollup"><i class="flaticon-long-arrow-pointing-up" aria-hidden="true"></i></a>

